mat-card {
    border-radius: 0;
}

.question {
    text-align: center;
    font-size: large;
    margin-top: 5%;
    margin-bottom: 5%;
}

.answer {
    text-align: center;
    font-size: small;
    color: white;   
    margin: 3px;
    width: 80%;
}

.true_anwser {
    background-color: #24A148;
}

.wrong_anwser {
    background-color: #880E0E;
}

.image {
    margin-top: 15px;
}

.quiz-row {
    width: 100%;
}