<div fxLayout="row" fxLayout.lt-md="column">
    <div fxLayoutAlign="center" fxFlex="25">
        <div *ngIf="show">
            <mat-card class="infos">
                <div>
                    <h2>Status : {{currentAnecdate.status}}</h2>
                </div>
                <mat-divider [inset]="false"></mat-divider>
                <div *ngIf="category == null">
                    <h2>Catégorie : {{currentAnecdate.idCategory}}</h2>
                </div>
                <div *ngIf="category != null">
                    <h2>Catégorie : {{category.name}}</h2>
                </div>
                <mat-divider [inset]="false"></mat-divider>
                <div>
                    <h2 class="author">Auteur : {{currentAnecdate.idAuthor}}</h2>
                </div>
            </mat-card>
            <div fxLayout="row" fxLayoutAlign="center">
                <a routerLink="/anecdate/{{currentAnecdate.id}}/update"><button mat-button class="button-infos button-next">Modifier l'anecdate</button></a>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="currentAnecdate.status == 'active'">
                <button mat-button class="button-infos button-delete" (click)="delete()">Désactiver l'anec'date</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="currentAnecdate.status != 'active'">
                <button mat-button class="button-infos button-activate" (click)="activate()">Réactiver l'anec'date</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" class="likes">
                <div fxLayout="row">
                    <div>
                        <mat-icon>favorite</mat-icon>
                    </div>
                    {{currentAnecdate.likes}}
                </div>
                <div fxLayout="row">
                    <div>
                        <mat-icon>favorite_border</mat-icon>
                    </div>
                    {{currentAnecdate.dislikes}}
                </div>
            </div>
        </div>
    </div>
    <div class="anecdate-div" fxLayout.lt-md="column" fxLayoutAlign="left">
        <div class="anecdate-main" fxFlex fxFlex.lt-md="80">
            <mat-card class="no-anecdate-card" *ngIf="!show">
                Cette anec'date n'existe pas.
            </mat-card>
            <mat-card class="anecdate-card" *ngIf="show">
                <div class="card-title">
                    <h1>Anec'Date</h1>
                </div>
                <mat-divider [inset]="true"></mat-divider>
                <div class="image" fxLayout="row">
                    <img mat-card-xl-image src="{{currentAnecdate.image}}" layout-fill class="image-fit">
                    <div class="year">{{currentAnecdate.date.substr(0,4)}}</div>
                </div>
                <div class="title">
                    {{currentAnecdate.title}}
                </div>
            </mat-card>
        </div>
        <div class="anecdate-quiz" fxFlex fxFlex.lt-md="80" *ngIf="show">
            <app-anecdate-quiz [anecdate]="currentAnecdate"></app-anecdate-quiz>
        </div>
    </div>
</div>
<div>
    <mat-card class="anecdate-description" *ngIf="show">
        <div class="card-title">
            <h1>Description</h1>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        {{currentAnecdate.description}}
    </mat-card>
</div>
<div>
    <mat-card class="anecdate-comments" *ngIf="show">
        <div class="card-title">
            <h1>Commentaires</h1>
        </div>
        <div *ngIf="comments.length == 0">Aucun commentaire</div>
        <div *ngIf="comments.length > 0">
            <div class="comment" *ngFor="let comment of comments">
                <div *ngIf="comment.status == 'active'" fxLayout="column" fxLayoutAlign="start none">
                    <mat-divider [inset]="true"></mat-divider>
                    <div class="comment-head" fxFlex>
                        <div>{{comment.idAuthor}}</div>
                        <div>{{comment.date}}</div>
                    </div>
                    <div fxFlex>
                        {{comment.message}}
                    </div>
                </div>
                <div fxLayoutAlign="end">
                    <button mat-icon-button *ngIf="comment.status == 'active'" color="primary" (click)="deleteComment(comment)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<div>
    <mat-card class="anecdate-sources" *ngIf="show">
        <div class="card-title">
            <h1>Sources</h1>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <ul>
            <li *ngFor="let source of sources;">
                <a href="//{{source}}">{{source}}</a>
            </li>
        </ul>
    </mat-card>
</div>