.anecdate-div {
    margin-top: 20px;
    width: 100%;
}

.anecdate-main {
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    font-size: x-large;
    font-family: 'Poppins';
    min-width: 350px;
    max-width: 500px;
    margin-bottom: 20px;
}

.anecdate-quiz {
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    font-size: x-large;
    font-family: 'Poppins';
    min-width: 350px;
    max-width: 500px;
}

mat-card {
    border-radius: 0;
}

.image {
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-fit {
    object-fit: cover;
}

.year {
    margin-left: 15px;
    font-size: xx-large;
    color: #580404;
    margin-top: 30%;
}

.button-infos {
    width: 100%;
    max-width: 150px;
    font-size: 12px;
    color: white;
    border-radius: 0;
    margin-top: 10px;
}

.button-next {
    background-color: #0F62FE;
}

.button-delete {
    background-color: #DB0A0A;
}

.button-activate {
    background-color: green;
}

.title {
    font-family: 'Source Sans Pro';
    font-size: smaller;
    text-align: justify;
}

.likes {
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

.infos {
    margin-top: 20px;
}

.anecdate-description {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}

.anecdate-comments {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.anecdate-sources {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
}

.comment {
    margin-left: 5px;
    text-align: justify;
    overflow: clip;
}

.comment-head {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: small;
}

.author {
    margin-bottom: 0px;
}