table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
    margin-bottom: 2%;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

td, th {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab-container {
    margin: 2%;
    margin-top: 10px;
    width: 100%;
}

.link-td {
    color: forestgreen;
    width: 5%
}